* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}
.Dark{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(21, 49, 49);
  padding: 10px 20px;
  color: antiquewhite;
}
.Light{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(25, 152, 152);
  padding: 10px 20px;
  color: antiquewhite;
}
.nav2{
  display: flex;
  gap: 20px;
}
.nav2 h3{
  cursor: pointer;
}